<h1>Webhooks#index</h1>

<% @hooks.each do |hook| %>
  <div id="hook-<%= hook.id %>">
    ID: <%= hook.external_id %>
    Name: <%= hook.name %>
    Hook_type: <%= hook.hook_type %>
    Url: <%= hook.url %>
    Active: <%= hook.active %>
  </div>
<% end %>
